// SCSS File
// menus.scss
// Modified April 24, 2017


// menu style

.menu, nav {

    li {

        margin: 0;
    }
}

// nav menu style

.nav-menu {

    text-align: center;

    .nav-item {

        position: relative;
        float: left;

        & + .nav-item {

            margin-left: 34px;
        }
        &:focus {

            background-color: transparent;
        }
    }
    .nav-link {

        padding: 0;
        color: $text-color;
        border-radius: 0;

        &:hover, &.active, &.active:hover {

            background: transparent;
            text-decoration: underline;
            color: $text-color;
            cursor: pointer;
        }
        &:focus {

            background-color: transparent;
        }
    }
    .open {

        a, a:hover {

            background-color: transparent;
            color: $link-color;
        }
    }
}

// nav grid style

.nav-grid {

    padding: 34px 0 10px;

    .nav-item {

        width: 33.33%;
        padding: 0 14px 24px 54px;
        float: left;

        &.active {

            .nav-link {

                strong, span {

                    color: $theme-feature-color;
                }
                .icon {

                    background-color: $theme-feature-color;
                }
            }
        }
    }
    .nav-link {

        height: 48px;
        padding: 0;
        font-family: $font-family-regular;
        position: unset;

        strong, span {
            
            font-size: 16px;
            font-weight: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            color: $title-color;
        }
        span {

            font-size: 14px;
            color: $label-dark-color;
        }
        .icon {

            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: $label-light-color;
            font-size: 20px;
            color: $white-color;
            position: absolute;
            left: 0;
            top: 3px;

            &:before {

                margin-top: 10px;

            }
        }

        &:hover, &.active, &.active:hover {

            background: transparent;

            .icon {

                background-color: $theme-feature-color;
            }
        }
    }
}

// drawer menu style

.drawer-menu {

    font-family: $font-family-regular;

    h5 {

        margin-bottom: 24px;
        font-family: $font-family-regular;
    }
    .nav-tree {

        margin: 14px 0 24px;
        background-color: $drawer-menu-color;
        border-bottom: 1px solid $drawer-border-color;
    }
    .nav-item {

        border-top: 1px solid $drawer-divider-color;

        &:first-child {

            border: none;   
        }

        .nav-tree {

            border-top: 1px solid $drawer-divider-color;
        }
    }
    .nav-item {

        &.active {

            .nav-link {

                color: $link-drawer-hover-color;
            }
        }        
    }
    .nav-link {

        padding: 11px 14px 13px !important;
        color: $link-drawer-color;

        &:hover, &:focus {
                    
            background-color: $drawer-hover-color;
            color: $link-drawer-hover-color;
        }
    }
}

// drawer tabs style

.drawer-tabs {

    border: none;
    position: absolute;
    right: 0;
    top: 0;

    .nav-item {

        margin: 0;

        &.active .nav-link {

            background-color: $drawer-color;
            border-bottom-color: $drawer-color;
            color: $drawer-active-color;
        }
    }
    .nav-link {

        width: 80px;
        height: 80px;
        padding: 0;
        border: none;
        border-radius: 0;
        border-left: 1px solid $drawer-border-color;
        border-bottom: 1px solid $drawer-border-color;
        background-color: $drawer-header-color;
        color: $drawer-idle-color;

        &:hover, &:focus {
                
            background-color: $drawer-color;
            color: $drawer-idle-color;
        }
        .icon {

            width: 32px;
            height: 32px;
            font-size: 32px;
            margin-top: 22px;
        }
    }
}

// page menu style

.page-menu {

    .nav-item {

        position: unset;
    }
    .nav-link {

        min-height: 96px;
        padding-top: 34px;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        font-family: $font-family-regular;
        font-size: 15px;
        color: $text-color;

        &:hover {

            text-decoration: none;
            color: $link-color;
        }
    }
    .active, .open {
        
        .nav-link {

            border-color: $theme-feature-color;
            color: $link-color;
        }
    }
    &.toggle-menu-open {

        .active:not(.open) {
            
            .nav-link {

                border-color: transparent;
                color: $text-color;
            }
        }
    }
}

// foot menu style

.foot-menu {

    .nav-link {

        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-family-regular;
        color: $white-color;
        font-size: 15px;

        &:hover, &.active, &.active:hover {

            text-decoration: none;
            color: $link-panel-color;
        }
    }
    .active {
        
        .nav-link {

            text-decoration: underline;

            &:hover {

                text-decoration: none;
            }
        }
    }
}

// toggle menu style

.toggle-menu {
    
    background-color: $white-color;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 96px;

    .container {

        position: relative;
    }
}

// child menu style

.child-menu {

    position: absolute;
    // transform: translateY(-2em);
    // transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    top: 0;

    &.visible {

        position: relative;
        // transform: translateY(0);
        // transition-delay: 0s, 0s, 0s;
        visibility: visible;
        z-index: 1;
        opacity: 1;
    }
}

