// SCSS File
// widget.scss
// Modified April 24, 2017


// widget style

.widget { 
    
    margin-top: $widget-margin-bottom;
    font-size: 100%;
    position: relative;
    z-index: 0;
}

// widget center style

.widget-center {

	text-align: center;
}

// widget header style

.widget-header {

	padding-bottom: 14px;

	h4 {

		margin: 0;
		font-size: $font-size-h5;
	}
}

// widget body style

.widget-body {

	position: relative;
    z-index: 1;
    
    h4 {

		font-size: $font-size-h5;
	}
	h4, p {

		margin-bottom: 14px;

		& + .btn {

			margin-top: 24px;
		}
		&:first-child {
			
			margin-top: 0;
		}
	}
	ul, ol {

		margin: 0;
		padding: 0;
		list-style: none;

		li {

			margin: 0;
			padding: 6px 0;
			border-top: 1px solid $divider-color;

			a {

				color: $text-color;
			}

			&:first-child {

				border: none;
			}
		}

		&.children {

			margin: -6px 0;
			margin-top: 6px;

			li {

				&:first-child {

					border-top: 1px solid $divider-color;
				}
			}
		}
	}
}

// widget graphic style

.widget-graphic {

	margin-bottom: 18px;

	& + h4 {

		margin-top: 0;
	}
	.lazyloaded {

		max-width: 100%;
		height: auto;
	}
}

// widget cover style

.widget-cover {

	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	.media-cover {

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.1;
	}
}

// widget banner style

.widget-banner {
	
	.widget-graphic {

		margin-bottom: 0;
	}	
}

// widget panel style

.widget-panel {

	padding: 18px 14px;
	background-color: $theme-section-color;

	.widget-graphic {

		margin: -18px -14px;
		margin-bottom: 24px;
	}
	.form-group {

		padding: 6px 0 10px;
	}
	label {

		font-size: 90%;
		color: $text-color;
	}
	form .btn {

		margin-top: 6px;
		margin-bottom: 0;
		font-family: $font-family-light;
	}
}

// widget share style

.widget-share {

	text-align: center;

	.share-list {

		margin-top: 6px;
	}
}

// widget search style

.widget-search {
	
		
}

// widget promo style

.widget-promo {

	padding: 34px 14px;
	border: 4px solid $widget-promo-color;
	background-color: $widget-promo-color;
	text-align: center;
	color: $white-color;

	&:hover {

		border-color: darken($widget-promo-color, 20%);
	}

	h4, p {

		margin: 0;
		margin-top: 24px;
		font-family: $font-family-light;
		color: rgba($white-color, 0.7);

		strong {

			font-family: $font-family-semibold;
			color: $white-color;
		}
	}
	.btn {

		width: 90%;
		margin: 0 auto;
		padding: $btn-large-padding-y 0;
		color: $widget-promo-color;
		display: block;

		@media (max-width: $screen-md-max) {

			width: 100%;
		}

		&:hover, &:focus, &.focus {

			color: $white-color;
		}
	}
}

// widget testimonial style

.widget-testimonial {

	.testimonial {

		margin: 0;
		padding: 0;
		text-align: center;
		font-size: $font-size-base;
		border: none;

		p {

			width: 100%;
			padding: 24px;
			border-radius: 6px;
			background-color: $theme-section-color;
			font-size: $font-size-h5;
			color: $text-color;
			position: relative;
			float: none;

			strong {

				font-family: $font-family-regular;
			}
			.icon {

				color: $negative-color;
			}
			&:after {

				margin-left: -8px;
				border-right: 8px solid transparent;
				border-top: 8px solid $theme-section-color;
				border-left: 8px solid transparent;
				display: block;
				position: absolute;
				bottom: -8px;
				left: 50%;
				content: '';
			}
		}
		cite {

			img {

				margin-bottom: 12px;
				border-radius: 50%;
				border: 4px solid $theme-section-color;
			}
			strong, span {

				font-weight: normal;
				font-style: normal;
				display: block;
			}
			span {

				padding-top: 2px;
				font-size: 90%;
				color: $label-dark-color;
			}
		}
	}
}

